In [17]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [18]:
#used to split the data
# df = pd.read_csv("../data/all_train.csv")
# train, valid = train_test_split(df, test_size=0.3, shuffle=True)
# valid, test = train_test_split(valid, test_size=0.5, shuffle=True)

In [19]:
train = pd.read_csv("../data/train.csv")
valid = pd.read_csv("../data/valid.csv")
test = pd.read_csv("../data/test.csv")

,Unnamed: 0,id,qid1,qid2,question1,question2,is_duplicate
0,96985,96985,161446,161447,Will Ichiro play for the Marlins tonight at Ta...,Why hasn't Ichiro been getting more playing ti...,0
1,324902,324902,451059,451060,How does the attitude of people near you (espe...,Why do I tend to get very easily annoyed with ...,0
2,265653,265653,382665,125239,What this language?,What language is this in?,0
3,368066,368066,170750,498402,Are there any business owners or employees who...,HR Technology: Who has experience using WageWo...,0
4,190882,190882,290084,290085,I want to add a new answer. How do I permanent...,What if I want to write a new answer to a ques...,1